@media screen and (min-width: 750px) {
    .mainGrid {
        display: grid;
        padding: 40px 56px;
        overflow: hidden;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 320px 1fr;
        grid-template-areas:
            "volt today today sets"
            "graph1 graph1 graph2 graph2";
        grid-gap: 16px;
    }
}

@media screen and (max-width: 750px) {
    .mainGrid {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 16px;
    }
}

.card {
    border-radius: 24px;
    min-height: 320px;
    border: 2px solid #ececec;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardMainContent {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    transition-duration: .3s;
}

.cardBottomText {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    display: flex;
    padding-bottom: 48px;
    justify-content: center;
}

.clickable:hover .cardMainContent {
    transform: scale(1.1);

}

.clickable {
    cursor: pointer;
}

.totalGrid {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.totalRow {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.totalTitle {
    font-weight: 500;
    font-size: 14pt;
}

.totalValue {

}
