.background {
 position: fixed;
    height: 80vh;
   bottom: 0;
    left: 0;
    z-index: -1;
}

.graphs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
    width: 100vw;
    grid-gap: 16px;
}
