.background {
 position: fixed;
    height: 80vh;
   bottom: 0;
    left: 0;
    z-index: -1;
}

.graphs {
    display: grid;
    padding: 16px;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    width: calc(100vw - 32px);
    justify-content: center;
    grid-gap: 16px;
}

.body {
    user-select: none;
}
